.card-container {
    position: relative;

    bottom: 10rem;

    width: 75%;
    height: 18.75rem;

    padding: 2.5rem 1.875rem;
    line-height: 1.75rem;

    margin: 0 auto;

    background-image: url("../../../public/assets/ticket-bg01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 30;
}
